{% extends "base.html" %}

{% block content %}
<div class="container">
    {% if request.user.is_authenticated %}
    <span class="signup">If you want logout!
        <label for="check"><a href="{% url 'logout' %}">Logout</a></label>
    </span>
    {% else %}
    <span class="signup">Don't have an account?
        <label for="check"><a href="{% url 'register' %}">Register</a></label>
    </span>
    <br>
    <span class="signup">Already have an account?
        <label for="check"><a href="{% url 'login' %}">Login</a></label>
    </span>
    {% endif %}
</div>
{% endblock content %}